/* Light Version */
.App {
  text-align: center;
}

.App-header {
  background-color: #FFFFFF; /* White */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000; /* Black */
}

.App-footer {
  justify-content: flex-end; /* Align at the bottom */
}

.App-link {
  color: #007BFF; /* Blue */
}
